body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

@import url('https://fonts.cdnfonts.com/css/public-pixel');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

header a {
    color: #D6DA31;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    display: inline-block;
    text-align: center; /* Center the text */
    width: 100px; /* Adjust as needed */
}
header p{
    cursor: grab;
}
header p :hover{
    color: white;
    text-shadow: 1px 1px 4px rgba(214, 218, 49,0.9), 0px 0px 10px rgba(214, 218, 49,0.9);
    animation: szoom 0.8s infinite;
}

@keyframes szoom {
    0% {
        transform: scale(1);
    } 50%{
        transform: scale(1.07);
    } 100% {
        transform: scale(1);
    }
}

@keyframes shuffle {
    0% {
        transform: translate(0, 0%);
    } 33%{
        transform: translate(0, -25%);
    } 67%{
        transform: translate(0, -10%);
    }
     100% {
        transform: translate(0%);
    }
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    color: white;
    width: 100%;
    font-size: 20px;
    background-color: #0E0E11;
    padding: 7px;
    font-family: 'Public Pixel', sans-serif;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
  }
  
  .marquee2 span {
    animation-delay: 2.5s;
  }

  .marquee:hover{
    color: red;
    text-shadow: 0 0 10px white;
    transition: 1s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

.section1 {
    text-align: center;
    padding-top: 50px; /* Adjust the top padding as needed */
    padding-bottom: 50px;
    background-color: black
}
.section1 img{
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#logo{
    transition: transform 0.8s ease;
}
#logo:hover{
    transform: scale(1.1);
}


.section2{
    text-align: center;
    padding-top: 50px; /* Adjust the top padding as needed */
    padding-bottom: 50px;
    background-color: #D6DA31
}

.section2 img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0; /* Adjust the padding around the image as needed */
}

.who-we-are {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #0E0E11;
}

.who-we-are img {
    max-width: 50%;
    height: auto;
    margin-right: 30px; /* Adjust spacing between image and text */
}

.who-we-are .description {
    max-width: 50%;
}

.who-we-are h2 {
    color: #FF5714;
    font-size: 2rem;
    margin-bottom: 20px;
}
.who-we-are h2:hover{
    animation: shuffle 0.5s infinite;
}

.who-we-are p {
    color: #CCCCCC;
    font-size: 1.1rem;
}

.who-we-are img{
    transition: 1s;
}

.who-we-are img:hover{
    /* animation-duration: rotation, zooom;
    animation-duration: 2s, 2s;
    animation-iteration-count: infinite, infinite; */
    animation: zooom 0.5s infinite;
    animation-timing-function: ease-out;
}

@keyframes zooom {
    0% {
        transform: scale(1) rotate(0deg);
    } 25%{
        transform: scale(1.2) rotate(365deg);
    } 75%{
        transform: scale(1.2) rotate(365deg);
    } 100%{
        transform: scale(1) rotate(2deg);
    }
}

h2 {
    font-size: 3rem;
    color: #333;
}

@keyframes changeBg {
    from{
        background-color: black;
    }
    to {
        background-color: #ffcc00;
    }
}

footer {
    background-color: black;
    color: #2F52E0;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    font-size: small;
}
